@use '../helpers' as *;

.facts {
   position: relative;
   overflow: hidden;
   padding: 90px 0;
   padding-top: 180px;
   background-color: var(--color-white);

   &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 570px;
      height: 1065px;
      background-image: url(../assets/images/facts/bg-image.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
   }  

   
   &__title {
      margin-bottom: 59px;
   }
   
   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 0 auto;
      max-width: 730px;
      gap: 48px;
   }

   &__item {
      text-align: center;
   }
}

.facts-element {

   &__circle {
      --progress-stroke: #000;
      --progress-bg-opacity: 0.3;

      position: relative;
      margin-bottom: 15px;
      width: 148px;
      height: 148px;

      svg {
         position: absolute;
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
      }
      
      .progress {
         stroke: var(--progress-stroke);
         transform: rotate(-90deg) translate(20px);
         transform-origin: center;
      }

      .progress-bg {
         stroke: var(--progress-stroke);
         opacity: var(--progress-bg-opacity);
      }

      &--orange {
         --progress-stroke: #f89828;
  
      }

      &--pink {
         --progress-stroke: #f52f6e;

      }

      &--blue {
         --progress-stroke: #5a87fc;
      }

      &--green {
         --progress-stroke: #03cea4;
      }
   }

   &__value {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 32px;
      color: var(--color-gray-900);
   }

   &__text {
      font-size: 14px;
      color: var(--color-gray-900);
   }
}

